
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.stick {
    background-color: black;
    width: 1rem;
    height: 17rem;
}

.traffic_light {
    background-color: black;
    padding: 1rem;
    display: inline-block;
}

.red {
    border-radius: 50%;
    background-color: red;
    width: 7rem;
    height: 7rem;
    border: none;
}

.orange {
    border-radius: 50%;
    background-color: rgb(255, 128, 0);
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
    border: none;
}

.green {
    border-radius: 50%;
    background-color: rgb(1, 133, 7);
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
    border: none;
    
}

.halo{
    box-shadow: 0rem 0rem 4rem 1rem rgb(255, 255, 173);
}
